In [1]:
import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('cleaned_dataset.csv')
df.head()
print(df.head())

     Locality  Zip Code Type of Property Subtype of Property   Price  \
0  Schaerbeek      1030            House               house  365000
1        Gent      9000            House             mansion  725000
2      Ninove      9400            House               villa  349000
3   Varsenare      8490        Apartment           apartment  180000
4     Jupille      4020            House               house  665000

   Type of Sale  Number of Rooms  Livable Space (m2)  Fully Equipped Kitchen  \
0             1                5                 186                       1
1             1                5                 330                       1
2             1                3                 199                       1
3             1                3                  96                       0
4             1                6                 282                       1

   Furnished  ...  Terrace Area (m2)  Garden  Garden Area (m2)  Swimming Pool  \
0          0  ...                  8       0                 0              0
1          0  ...                  0       0                 0              0
2          0  ...                  0       0                 0              0
3          0  ...                  0       0                 0              0
4          0  ...                121       1               729              1

   Surface of the Land (m2)  Number of Facades  Construction Year  PEB  \
0                        57                  2               1910    0
1                       107                  2               1850    2
2                       365                  4               1985    1
3                         0                  2               1980    4
4                       942                  4               2020    5

   Primary Energy Consumption (kWh/m2)  State of the Building
0                                  449                      5
1                                  489                      1
2                                  616                      3
3                                  276                      5
4                                  151                      3

[5 rows x 22 columns]

In [2]:
print("Shape of df", df.shape)

Shape of df (14497, 22)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14497 entries, 0 to 14496
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             14497 non-null  object
 1   Zip Code                             14497 non-null  int64
 2   Type of Property                     14497 non-null  object
 3   Subtype of Property                  14497 non-null  object
 4   Price                                14497 non-null  int64
 5   Type of Sale                         14497 non-null  int64
 6   Number of Rooms                      14497 non-null  int64
 7   Livable Space (m2)                   14497 non-null  int64
 8   Fully Equipped Kitchen               14497 non-null  int64
 9   Furnished                            14497 non-null  int64
 10  Open Fire                            14497 non-null  int64
 11  Terrace                              14497 non-null  int64
 12  Terrace Area (m2)                    14497 non-null  int64
 13  Garden                               14497 non-null  int64
 14  Garden Area (m2)                     14497 non-null  int64
 15  Swimming Pool                        14497 non-null  int64
 16  Surface of the Land (m2)             14497 non-null  int64
 17  Number of Facades                    14497 non-null  int64
 18  Construction Year                    14497 non-null  int64
 19  PEB                                  14497 non-null  int64
 20  Primary Energy Consumption (kWh/m2)  14497 non-null  int64
 21  State of the Building                14497 non-null  int64
dtypes: int64(19), object(3)
memory usage: 2.4+ MB
None

In [12]:
df.dropna(subset=['Price'], inplace=True, ignore_index=True)
df.info(25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15034 entries, 0 to 15033
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             15034 non-null  object
 1   Zip Code                             15034 non-null  int64
 2   Type of Property                     15034 non-null  object
 3   Subtype of Property                  15034 non-null  object
 4   Price                                15034 non-null  float64
 5   Type of Sale                         15034 non-null  int64
 6   Number of Rooms                      15034 non-null  float64
 7   Livable Space (m2)                   15034 non-null  int64
 8   Fully Equipped Kitchen               15034 non-null  int64
 9   Furnished                            15034 non-null  int64
 10  Open Fire                            15034 non-null  int64
 11  Terrace                              15034 non-null  int64
 12  Terrace Area (m2)                    15034 non-null  float64
 13  Garden                               15034 non-null  int64
 14  Garden Area (m2)                     15034 non-null  float64
 15  Swimming Pool                        15034 non-null  int64
 16  Surface of the Land (m2)             15034 non-null  float64
 17  Number of Facades                    15034 non-null  float64
 18  Construction Year                    15034 non-null  float64
 19  PEB                                  15034 non-null  float64
 20  Primary Energy Consumption (kWh/m2)  15034 non-null  float64
 21  State of the Building                15034 non-null  float64
dtypes: float64(10), int64(9), object(3)
memory usage: 2.5+ MB

In [14]:
df.head(20)

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building
0,Schaerbeek,1030,House,house,365000.0,1,5.0,186,1,0,...,8.0,0,0.0,0,57.0,2.0,1910.0,0.0,449.0,5.0
1,Gent,9000,House,mansion,725000.0,1,5.0,330,1,0,...,0.0,0,0.0,0,107.0,2.0,1850.0,2.0,489.0,1.0
2,Ninove,9400,House,villa,349000.0,1,3.0,199,1,0,...,0.0,0,0.0,0,365.0,4.0,1985.0,1.0,616.0,3.0
3,Varsenare,8490,Apartment,apartment,180000.0,1,3.0,96,0,0,...,0.0,0,0.0,0,0.0,2.0,1980.0,4.0,276.0,5.0
4,Jupille,4020,House,house,665000.0,1,6.0,282,1,0,...,121.0,1,729.0,1,942.0,4.0,2020.0,5.0,151.0,3.0
5,Bruxelles,1000,House,exceptional-property,895000.0,1,4.0,277,1,0,...,14.0,1,52.0,0,0.0,2.0,1897.0,2.0,230.0,3.0
6,Woluwe-saint-pierre,1150,House,mixed-use-building,850000.0,1,4.0,520,1,0,...,20.0,0,0.0,0,388.0,3.0,1963.0,1.0,287.0,3.0
7,Dilbeek,1702,House,house,320000.0,1,4.0,120,0,0,...,0.0,0,0.0,0,256.0,3.0,1976.0,2.0,414.0,2.0
8,Steenokkerzeel,1820,House,house,395000.0,1,4.0,275,1,0,...,0.0,0,0.0,0,264.0,3.0,1930.0,2.0,406.0,4.0
9,Nassogne,6950,House,house,435000.0,1,3.0,165,1,0,...,0.0,0,0.0,0,4085.0,4.0,1960.0,2.0,356.0,2.0
10,Lier,2500,House,villa,719000.0,1,3.0,232,1,0,...,0.0,0,0.0,0,1246.0,4.0,1993.0,5.0,139.0,3.0
11,Grobbendonk,2280,House,mixed-use-building,895000.0,1,5.0,580,0,0,...,0.0,0,0.0,0,333.0,3.0,1983.0,2.0,429.0,3.0
12,Licage,4020,House,mixed-use-building,229000.0,1,3.0,218,0,0,...,0.0,0,0.0,0,50.0,2.0,1945.0,4.0,206.0,3.0
13,Anzegem,8570,Apartment,apartment,149500.0,1,1.0,56,1,0,...,0.0,0,0.0,0,0.0,2.0,2019.0,6.0,88.0,3.0
14,Petegem-aan-de-leie,9800,Apartment,apartment,199000.0,1,2.0,78,1,0,...,2.0,0,0.0,0,0.0,2.0,1973.0,6.0,98.0,3.0
15,Braine-le-chateau-wauthier-braine,1440,Apartment,ground-floor,319000.0,1,2.0,98,1,0,...,9.0,1,41.0,0,0.0,4.0,2010.0,4.0,205.0,3.0
16,Dinant,5501,House,house,399000.0,1,4.0,209,1,0,...,0.0,1,778.0,0,942.0,4.0,2002.0,4.0,204.0,3.0
17,Namur,5000,House,house,475000.0,1,4.0,230,1,0,...,15.0,1,200.0,0,314.0,2.0,1934.0,4.0,242.0,3.0
18,Tienen,3300,House,mixed-use-building,695000.0,1,5.0,285,0,0,...,0.0,1,330.0,0,598.0,2.0,1931.0,3.0,355.0,5.0
19,Astene,9800,House,house,329000.0,1,3.0,230,1,0,...,0.0,0,0.0,0,267.0,2.0,1957.0,2.0,467.0,2.0

In [15]:
df.describe()

,Zip Code,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,Open Fire,Terrace,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building
count,15034.000000,1.503400e+04,15034.0,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,15034.000000,1.503400e+04,15034.000000
mean,4457.607024,9.592806e+05,1.0,3.211055,191.518624,0.647931,0.033657,0.072103,0.439870,13.510044,0.302381,250.153984,0.049155,892.912532,2.854929,1963.764201,3.396368,1.687029e+03,3.253160
std,3073.294101,2.203005e+07,0.0,1.605496,130.955644,0.477631,0.180351,0.258667,0.496388,59.137693,0.459305,1405.828544,0.216199,3389.200713,0.883284,40.605578,1.699133,1.650796e+05,1.310009
min,1000.000000,2.750000e+04,1.0,1.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1753.000000,0.000000,1.000000e+00,0.000000
25%,1780.000000,2.500000e+05,1.0,2.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1939.000000,2.000000,1.560000e+02,3.000000
50%,3150.000000,3.750000e+05,1.0,3.000000,160.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,192.000000,3.000000,1969.000000,4.000000,2.470000e+02,3.000000
75%,8300.000000,5.950000e+05,1.0,4.000000,240.000000,1.000000,0.000000,0.000000,1.000000,15.000000,1.000000,60.000000,0.000000,769.000000,4.000000,1994.000000,5.000000,3.770000e+02,5.000000
max,9992.000000,1.650002e+09,1.0,41.000000,1100.000000,1.000000,1.000000,1.000000,1.000000,3749.000000,1.000000,70470.000000,1.000000,160737.000000,9.000000,2026.000000,6.000000,2.024041e+07,5.000000

In [ ]:
df.groupby('Zip Code')['Price'].describe()

,count,mean,std,min,25%,50%,75%,max
Zip Code,,,,,,,,
1000,234.0,8.452821e+05,9.589733e+05,125000.0,325000.0,457500.0,975000.0,5459000.0
1020,56.0,5.366786e+05,2.636323e+05,169000.0,298000.0,524500.0,723250.0,1150000.0
1030,133.0,5.830677e+05,3.794195e+05,137500.0,320000.0,549000.0,699000.0,3300000.0
1040,81.0,9.105432e+05,6.329176e+05,145000.0,350000.0,849000.0,1295000.0,3100000.0
1050,279.0,1.399354e+06,1.273615e+06,150000.0,475000.0,1050000.0,1757500.0,8500000.0
...,...,...,...,...,...,...,...,...
9982,1.0,5.500000e+05,NaN,550000.0,550000.0,550000.0,550000.0,550000.0
9988,1.0,5.990000e+05,NaN,599000.0,599000.0,599000.0,599000.0,599000.0
9990,16.0,6.018438e+05,2.842961e+05,235000.0,366500.0,617250.0,795000.0,1165000.0
9991,9.0,5.382222e+05,3.235930e+05,295000.0,299000.0,415000.0,679000.0,1285000.0
9992,4.0,1.297250e+06,5.802071e+05,849000.0,1033500.0,1095000.0,1358750.0,2150000.0

In [ ]:
#Count the number of unique values, two ways are possible
df['Locality'].value_counts().count()
df['Locality'].nunique()

1330

In [ ]:
df['Zip Code'].value_counts().count()
df['Zip Code'].nunique()

828

In [ ]:
#Count duplicates for the same properties that have different URL.
df.duplicated(subset=df.columns.difference(['Url'])).value_counts()

False    9988
True      138
Name: count, dtype: int64

In [ ]:
#Remove duplicates for the same properties that have different URL.
df.drop_duplicates(subset=df.columns.difference(['Url']), inplace=True)

In [ ]:
df.shape

(9988, 23)

In [ ]:
# Create the new 'Open Fire' column based on 'Number of Fireplaces (0 for 0 fireplaces and 1 for more than 1 fireplaces)
df['Open Fire'] = df['Number of Fireplaces'].apply(lambda x: 0 if x == 0 else 1)

In [ ]:
df.shape

(9988, 24)

In [ ]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url,Open Fire
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...,0
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...,1

In [ ]:
# Find the index of the current 'Number of Fireplaces' column
fireplaces_index = df.columns.get_loc('Number of Fireplaces')

In [ ]:
#Insert the new 'Open Fire' column at the same index
df.insert(fireplaces_index, 'Open Fire', df.pop('Open Fire'))

In [ ]:
df.shape

(9988, 24)

In [ ]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...

In [ ]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire',
       'Number of Fireplaces', 'Terrace', 'Terrace Area (m2)', 'Garden',
       'Garden Area (m2)', 'Swimming Pool', 'Surface of the Land (m2)',
       'Number of Facades', 'Construction Year', 'PEB',
       'Primary Energy Consumption (kWh/m2)', 'State of the Building', 'Url'],
      dtype='object')

In [ ]:
#Rename a name of column "Open Fire" for "Number of Fireplaces"
df.rename(columns={'Open Fire': 'Number of Fireplaces'})

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,Leuven,3000,Apartment,kot,193000,for-sale,1,20,1,1,...,0,0,0,0,0,2017,A,0,As new,https://www.immoweb.be/en/classified/kot/for-s...
10121,Leuven,3000,Apartment,kot,195000,for-sale,1,18,1,1,...,0,0,0,0,0,2017,A,0,As new,https://www.immoweb.be/en/classified/kot/for-s...
10122,Blankenberge,8370,Apartment,apartment,549900,for-sale,3,225,0,0,...,0,0,0,0,0,2024,A,0,As new,https://www.immoweb.be/en/classified/apartment...
10124,Mechelen,2800,House,house,840860,for-sale,4,237,0,0,...,0,0,0,0,0,0,A,0,As new,https://www.immoweb.be/en/classified/house/for...
10125,Mechelen,2800,Apartment,apartment,289879,for-sale,1,69,0,0,...,0,0,0,0,0,0,A,0,As new,https://www.immoweb.be/en/classified/apartment...

In [ ]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire',
       'Number of Fireplaces', 'Terrace', 'Terrace Area (m2)', 'Garden',
       'Garden Area (m2)', 'Swimming Pool', 'Surface of the Land (m2)',
       'Number of Facades', 'Construction Year', 'PEB',
       'Primary Energy Consumption (kWh/m2)', 'State of the Building', 'Url'],
      dtype='object')

In [ ]:
# Replace 'Number of facades' with 1 where 'Type of Property' is 0 (apartment) and 'Number of facades' is 0
df.loc[(df['Type of Property'] == 0) & (df['Number of Facades'] == 0), 'Number of Facades'] = 1

# Replace 'Number of Facades' with 2 where 'Subtype of Property' is 'duplex' or 'town-house' and 'Number of Facades' is 0
df.loc[(df['Subtype of Property'].isin(['duplex', 'town-house'])) & (df['Number of Facades'] == 0), 'Number of Facades'] = 2

# Replace 'Number of Facades' with 4 where 'Type of Property' is 1 (House) and 'Number of Facades' is 0
df.loc[(df['Type of Property'] == 1) & (df['Number of Facades'] == 0), 'Number of Facades'] = 4

In [ ]:
df['Number of Facades'].isnull

0        False
1        False
2        False
3        False
4        False
         ...
10120    False
10121    False
10122    False
10124    False
10125    False
Name: Number of Facades, Length: 9988, dtype: bool

In [ ]:
df['Number of Facades'].value_counts()

Number of Facades
2    3279
4    3116
0    2291
3    1414
1      24
6       1
9       1
Name: count, dtype: int64

In [ ]:
df.to_csv('csv_files\\v1_dataset.csv', index=False)